@font-stack:    "Gill Sans", sans-serif;
@primary-color: #333;

body{
  margin: 0 auto;
  padding: 0 auto;
  font: 100% @font-stack;
  color: @primary-color;
}

body,html {
  height: 100%;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}
/*
.left {
  position: absolute;
  background-color: #0c171b;
  color: #cffffd;
  top: 0;
  bottom: 0;
}
*/
#sidebar {
   padding-left:0;
   text-align: center;
   background-color: #0c171b;
   color: #cffffd;
   top: 0;
   bottom: 0;
   height: 100%;
}

.logo {
  width: 87%
}

.options {
  width: auto;
  padding-top:10px;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  overflow: hidden;
  background-color: #2a2b31;
  border-radius: 10px 10px 0px 0px;
  img {
    margin: 30px;
  }
  h1 {
    margin-top:10px;
    margin-bottom: 25px;
    font-size: 4em;
    font-weight: 100;
  }
}

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
  }

  .sidebar-offcanvas {
    width: 45%;
  }
}

.custom-header {
  height:145px;
  overflow: hidden;
  img {
    height: auto;
    width: 100%;
  }
  button {
    position:absolute;
  }
}

.login {
  position: absolute;
  top: 10px;
  right: 10px;
}

.search {
  padding: 10px;
  input {
    border-radius: 5px;
    margin-left: 10px;
  }
}

.content {
  float: right;
  background-color: #e6e7e8;
}


.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
