@font-stack: "century gothic", sans-serif;
@primary-color: #0c171b;

body {
  font: 100% @font-stack;
  color: @primary-color;
  font-size: 1.2rem;
  background-color: #e6e7e8;
}

#sidebar {
  text-align: center;
  background-color: @primary-color;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 180px;
  @media (max-width: 543px) {
    display: none;
  }
}

#lpsidebar {
  text-align: center;
  background-color: @primary-color;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 80px;
  a {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    margin-top: 30px;
  }
  img.owlet {
    margin-top: 0;
  }
  @media (min-width: 544px) {
    display: none;
  }
}

img.owlet {
  width: 87%
}

.menu {
  padding-top: 10px;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  overflow: hidden;
  background-color: #2a2b31;
  border-radius: 10px 10px 0px 0px;
  a {
    color: #cffffd;
    text-decoration: none;
  }
  a.nav-link {
    margin: 30px;
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 3em;
    font-weight: 100;
  }
}

// TODO: touch this class
#header {
  height: 145px;
  overflow: hidden;
  img {
    height: auto;
    width: 100%;
  }
}

#change-header-btn {
  top: 113px;
  position: absolute;

}

/* buttons and inputs */

button {
  font-size: 1rem;
}

.trackwrapper.col-xs-12.col-sm-6.col-lg-4 {
  padding-right: inherit;
  padding-left: inherit;
}

.tracks {
  margin: 1.5em 1.5em 2em 1.5em;
  .trackwrap {
    margin: 5px;
    text-align: center;
    background-color: @primary-color;
    border: 2px solid @primary-color;
    border-radius: 10px;
    .track {
      color: #cffffd;
      text-decoration: none;
    }
    :hover {
      color: #abfffb;
    }
  }
  #title {
    margin-left: 1em;
    margin-top: 0.5em;
  }
}

.login {
  position: absolute;
  top: 13px;
  right: 10px;
}

.search {
  padding: 10px;
  input {
    border-radius: 2px;
    margin-left: 10px;
    font-size: 0.9rem;
    border: 1px solid #2a2b31;
    background-color: white;
  }
}

/* main content */

#main {
  display: flex;
}

.content {
  flex-direction: column;
  width: 100%;
}

/* no gutters! */

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.funfact {
  float: left;
  margin: 3em 2em 2em 2em;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}