@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

@font-stack: "Rubik", sans-serif;
@primary-color: #0c171b;
@purple: #6A2569;

body {
  font: 100% @font-stack;
  font-weight: 300;
  color: @primary-color;
  font-size: 1.2rem;
  overflow-x: hidden;
}

h1 {
  margin-top: 10px;
  line-height: 1.55em;
}

h4 {
  font-weight: lighter;
}

a:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  &:active {
    outline: none;
  }
}

.rc-typeahead-suggestion {
  background-color: #3B3B3B;
  &:hover {
    background-color: black;
  }
}

.rc-typeahead-suggestion.active {
  background-color: whitesmoke;
  color: black;
}

.search-bar-wrap {
  position: fixed;
  color: white;
  width: 100%;
  z-index: 1;
  input {
    border-color: black;
    background-color: black;
    height: 50px;
    font-size: 1.2em;
    color: white;
    transition: all 0.3s;
    &:focus {
      border-color: white;
      color: white;
      background-color: black;
    }
  }
  @media(max-width: 767px) {
    margin-left: 31px;
  }
}

.navigation {
  cursor: pointer;
}

#owlet-image {
  display: block;
  height: 108px;
  width: 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#owlet-owl, #lp-owlet-owl {
  transform: rotate(0deg);
  transition: transform 1s;
  transition-timing-function: ease;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transition-timing-function: ease;
  -ms-transform: rotate(0deg);
  -ms-transition: -ms-transform 0.5s;
  -ms-transition-timing-function: ease;
  border-radius: 50%;
}

#sidebar {
  z-index: 3;
  text-align: center;
  background-color: @purple;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 80px;
  a {
    margin-left: auto;
    margin-right: auto;
  }
  #owlet-logo-div {
    margin-top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: url("../img/owlet-text.png");
    &:hover {
      #owlet-owl, #lp-owlet-owl {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        transition: transform 1s;
        transition-timing-function: ease;
        -webkit-transition: -webkit-transform 0.5s;
        -webkit-transition-timing-function: ease;
      }
    }
  }
  .menu {
    padding-top: 10px;
    overflow: hidden;
    background-color: @purple;
    a {
      color: #cffffd;
      text-decoration: none;
    }
    img {
      margin-top: 10px;
      width: 80px;
    }
  }
}

#lpsidebar {
  position: fixed;
  z-index: 3;
  width: 0px;
  transition: all 0.3s;
  text-align: center;
  background-color: @purple;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  a {
    margin-left: auto;
    margin-right: auto;
  }
  #owlet-logo-div {
    margin-top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: url("../img/owlet-text.png");
    &:hover {
      #owlet-owl, #lp-owlet-owl {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        transition: transform 1s;
        transition-timing-function: ease;
        -webkit-transition: -webkit-transform 0.5s;
        -webkit-transition-timing-function: ease;
      }
    }
  }
  .menu {
    padding-top: 10px;
    overflow: hidden;
    background-color: @purple;
    a {
      color: #cffffd;
      text-decoration: none;
    }
    img {
      margin-top: 10px;
      width: 80px;
    }
  }
}

#lpsidebar-overlay {
  cursor: pointer;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: transparent;
  transition: background-color 0.3s;
}

#lpsidebar-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 2;
}

#lpsidebar-open, #lpsidebar-close {
  cursor: pointer;
  transition: left 0.3s;
  border-left: 1px solid #6A2569;
  position: fixed;
  top: 2px;
  left: 0px;
  height: 86px;
  z-index: 3;
}

mark {
  color: white;
  background-color: black;
}

mark.white {
  background-color: white;
  color: black;
  padding: .1em .3em;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.text-shadow {
  text-shadow: 1px 2px 3px #000000;
}

.flexcontainer-wrap {
  margin-top: 0.6em;
  font-size: 2rem;
  font-weight: 500;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
}

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  background: -webkit-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: -o-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: -moz-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: linear-gradient(to bottom, #1a0f2e, #493b68);
}

.flex-item {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  flex-basis: 100%;
}

.column-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.column-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.not-found {
  margin-left: 40px;
  h2 {
    font-size: 2.4rem;
    margin: 1.2em 0;
  }
}

.welcome-text {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
  color: white;
  width: 80%;
}

.user-type {
  margin-top: 28vh;
  z-index: 1;
  text-align: center;
}

#largetext {
  color: white;
  font-size: 5vw;
  margin: 0;
}

#smalltext {
  font-size: 20px;
  color: white;
}

.btn-branches {
  background-color: #00A79D;
  color: white;
  margin-bottom: 1em;
}

// landing page media queries

@media (max-width: 1000px) {
  .flex-item {
    display: none;
  }
  .column-left {
    display: none;
  }
  .column-right {
    width: 100%;
  }
  .user-type {
    margin-top: 35vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  #largetext {
    font-size: 10vw;
  }
  #smalltext {
    font-size: 4vw;
  }

  .landing {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url('../img/landing.png');
    background-size: auto 100%;
    background-position: center;
  }
}

#top {
  background-color: #1a0f2e;
}

#bottom {
  background-color: #493b68;
}

/* main content */

#main {
  display: flex;
  overflow-y: visible;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding-top: 50px;
}

.outer-height-wrap {
  height: 100vh;
  width: 100%;
}

.inner-height-wrap {
  height: 100%;
  width: 100%;
}

@media (min-width: 992px) {
  #main {
    height: 100vh;
  }
}

/* branches view */

.branchwrapper.col-xs-12.col-sm-6.col-lg-4 {
  padding-right: inherit;
  padding-left: inherit;
}

.branches {
  margin: 2.5em 1.5em 2em 1.5em;
  a {
    display: block;
    height: 100%;
    padding: 25px 15px;
  }
  .branchwrap {
    margin: 15px 0;
    height: 117px;
    background-size: 100%;
    background-position: center;
    transition: background-size 1s ease;
    -moz-transition: background-size 1s ease;
    -ms-transition: background-size 1s ease;
    -webkit-transition: background-size 1s ease;
    -o-transition: background-size 1s ease;
    &:hover {
      background-size: 125% !important;
    }
    .branch-bg {
      height: 100%;
      background-size: 225% 100%;
      background-repeat: no-repeat;
      background-position: bottom left;
      &:hover {
        background-color: rgba(0, 0, 0, 0) !important;
        background-position: bottom right !important;
      }
    }
    h2 {
      font-weight: 300;
      font-size: 1.3em;
      line-height: 1.4em;
    }
    .branch {
      color: #cffffd;
      text-decoration: none;
    }
  }
  #title {
    font-size: 1.6em;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 0.5em;
  }
}

.counter {
  position: absolute;
  right: 25px;
  bottom: 25px;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  p {
    color: white;
    margin-bottom: 0px;
    position: relative;
    top: 10px;
    text-align: center;
  }
}

/* branch activities view */

.container-fluid {
  padding: 0;
}

.branch-activities-wrap .flexcontainer-wrap {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.branch-activities-wrap {
  margin: 15px 20px 0 25px;
  h2 {
    font-size: 2.4rem;
    margin: 1.2em 0 0 0;
  }
  @media (max-width: 500px) {
    .col-xs-12.col-md-6.col-lg-4 {
      padding: 0;
    }
  }
}

.no-activities {
  margin-left: 21px;
}

img.back {
  width: 35px;
  padding-bottom: .1em;
  margin-right: 12px;
}

.tag {
  text-transform: uppercase;
  border-radius: 25px;
  margin: 5px;
  padding: 7px 7px 6px 7px;
  font-weight: normal;
  font-size: 12px;
  background-color: #564B82;
  &:hover {
    background-color: #483C6C;
  }
}

.activity-thumbnail-wrap {
  font-size: 0.9em;
  @media (max-width: 1187px) {
    font-size: 0.8em;
  }
  background-color: white;
  padding: 10px 10px 9px 10px;
  margin-bottom: 1.5em;
  overflow-y: auto;
  .activity-thumbnail {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size 0.5s ease;
    -moz-transition: background-size 0.5s ease;
    -ms-transition: background-size 0.5s ease;
    -webkit-transition: background-size 0.5s ease;
    -o-transition: background-size 0.5s ease;
    &:hover {
      background-size: 130% !important;
    }
    height: 250px;
    @media only screen and (max-width: 767px) and (min-width: 650px) {
      height: 400px;
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      text-transform: uppercase;
      font-size: 1.1em;
    }
  }
  .summary {
    margin-top: 10px;
    font-size: 0.9em;
  }
  .platform-wrap {
    margin-top: 5px;
    font-size: 0.6em;
    text-align: right;
  }
  .unplugged, .platform {
    margin-top: 3px;
    padding: 5px 6px 4px 6px;
    font-size: 1.1em;
    p {
      margin: 0;
    }
  }
  .platform {
    background-color: #00A79D;
    &:hover {
      background-color: #65D2C0;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  .unplugged {
    color: white;
    background-color: #ec971f;
    &:hover {
      background-color: #f0ad4e;
    }
  }
  .tag {
    margin: 10px 10px 0px 0px;
    font-size: 0.55em;
  }
}

/* activity view */

.activity-wrap {
  width: 98%;
  margin: 0 auto;
  background-color: transparent;
  height: 100vh;
  font-size: 0.85em;
  b {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em;
  }
  .list-title p {
    margin-bottom: 0;
  }
}

.activity-header {
  margin: 10px 0;
}

.activity-content, .activity-header {
  word-wrap: break-word;
  padding: 0 0 0 23px;
}

.activity-content {
  font-size: 1.2em;
}

.activity-title-wrap {
  h1 {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 5px;
  }
  .author {
    color: #ADADAD;
  }
  margin-top: 18px;
  margin-bottom: 15px;
}

.activity-info-wrap, .activity-inspiration-wrap, .activity-challenge-wrap {
  background-color: white;
  padding: 10px 12px 2px 12px;
}

.activity-challenge-wrap {
  margin: 2em 0;
  width: 100%;
  img {
    max-width: 100%;
  }
}

.activity-inspiration-wrap {
  margin: 2em 0;
}

.activity-embed-wrap {
  margin-bottom: 30px;
}

.activity-skills-wrap {
  padding: 5px;
  background-color: rgb(12, 23, 27);
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  .skills {
    padding: 2px 5px 0 12px;
    letter-spacing: 2px;
    font-weight: 400;
  }
}

.activity-gallery-wrap {
  margin-bottom: 2em;
}

.activity-comments-wrap {
  background: white;
  padding: 10px;
}

.img-gallery {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 2em;
}
.img-gallery img {
  height: 100%;
  width: auto;
}
.img-gallery figure {
  display: block;
  float: left;
  margin: 0.66%;
  height: 205px;
  @media (max-width: 1200px) {
    height: 140px;
  }
  @media (max-width: 642px) {
    height: 89px;
  }
  @media (max-width: 375px) {
    height: 76px;
  }
}

/* buttons and inputs */

#change-header-btn {
  top: 110px;
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0.6;
  &:hover {
   opacity: 1;
  }
 transition: all 0.2s;
}

button {
  font-size: 1rem;
}

.login {
  margin-top: 10px;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.login-landing {
  position: absolute;
  top: 13px;
  right: 10px;
}

.btn-login {
  color: #fff;
  background-color: #65D2C0;
  border-color: #65D2C0;
  &:hover {
    color: #5EFFE4;
    background-color: transparent;
  }
}

.btn-logout {
  color: #5EFFE4;
  background-color: transparent;
  border-color: #65D2C0;
  &:hover {
    color: #fff;
    background-color: #65D2C0;
  }
}

input[type="radio"] {
  display: none;
}
label {
  background-color: white;
  color: #00A79D;
  padding: 10px;
  width: 30%;
  text-align: center;
}
input[type="radio"]:checked + label{
  background-color: #00A79D;
  color: white;
}

.search {
  input {
    border-radius: 2px;
    font-size: 0.9rem;
    border: 1px solid #2a2b31;
    background-color: white;
  }
}

/* no gutters! */

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 72.9167%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// loading css
// https://codepen.io/jonmilner/pen/hDHuo

/* Animation */
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Variables */
/* Loading Icon */
.loading {
  width: 100px;
  height: 100px;
}

.loading__ring {
  position: absolute;
  width: 100px;
  height: 100px;
}

.loading__ring:first-child {
  -webkit-transform: skew(30deg, 20deg);
  transform: skew(30deg, 20deg);
}

.loading__ring:last-child {
  -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
  transform: skew(-30deg, -20deg) scale(-1, 1);
}

.loading__ring:last-child svg {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loading__ring svg {
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2);
}


// re-com overwrites
* {
  min-height: inherit;
  min-width: inherit;
}

// bootstrap 3 supplement for progress-bar (recom)
progress {
  display: inline-block;
  vertical-align: baseline;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

// bootstrap 3 supplement for popover (recom)
.popover-arrow {
  border-style: none;
}
