{:auto-save? true, :theme :dark, :selection "/Users/david/local/cfd/owlet/owlet-ui/src/cljs/owlet_ui/db.cljs", :expansions #{"/Users/david/local/cfd/owlet/owlet-ui/src" "/Users/david/local/cfd/owlet/owlet-ui/src/cljs" "/Users/david/local/cfd/owlet/owlet-ui/src/cljs/owlet_ui" "/Users/david/local/cfd/owlet/owlet-ui/src/cljs/owlet_ui/components"}}