<html style="font-size: 14px">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Rubik:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body style="font: 100% 'Rubik', sans-serif;font-size: 1rem">
    <h3>OWLET | New Activities Subscription</h1>
    <p>Please confirm your {{un}}subscription by <a href="{{url}}">clicking this link</a>.</p>
    <p>If you received this email by mistake, simply delete it. You won't be {{un}}subscribed if you don't click the confirmation link above.</p>
    <p>For questions about this list, please contact:<br>
       <a href="mailto:owlet@mmmanyfold.com">owlet@mmmanyfold.com</a></p>
  </body>
</html>
