@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700");
body {
  font: 100% "Rubik", sans-serif;
  font-weight: 300;
  color: #0c171b;
  font-size: 1.2rem;
  overflow-x: hidden; }

h1 {
  margin-top: 10px;
  line-height: 1.55em; }

h4 {
  font-weight: lighter; }

a:hover {
  text-decoration: none; }

.btn:focus {
  outline: none; }
  .btn:focus:active {
    outline: none; }

.rc-typeahead-suggestion {
  background-color: #3B3B3B; }
  .rc-typeahead-suggestion:hover {
    background-color: whitesmoke;
    color: black; }

.rc-typeahead-suggestion.active {
  background-color: whitesmoke;
  color: black; }

.search-bar-wrap {
  position: fixed;
  color: white;
  width: 100%;
  z-index: 1; }
  .search-bar-wrap .search {
    border-color: black;
    border-radius: 0 3.5px;
    background-color: black;
    height: 50px;
    font-size: 1.2em;
    color: white;
    transition: all 0.3s; }
    .search-bar-wrap .search:focus {
      border-color: white;
      color: white;
      background-color: black; }
  .search-bar-wrap .hidden-search {
    height: 1.2em; }
  @media (max-width: 767px) {
    .search-bar-wrap {
      margin-left: 31px; } }

.navigation {
  cursor: pointer; }

#owlet-image {
  display: block;
  height: 108px;
  width: 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

#owlet-owl, #lp-owlet-owl {
  transform: rotate(0deg);
  transition: transform 1s;
  transition-timing-function: ease;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transition-timing-function: ease;
  -ms-transform: rotate(0deg);
  -ms-transition: -ms-transform 0.5s;
  -ms-transition-timing-function: ease;
  border-radius: 50%; }

#sidebar {
  z-index: 3;
  text-align: center;
  background-color: #6A2569;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 80px; }
  #sidebar a {
    margin-left: auto;
    margin-right: auto; }
  #sidebar #owlet-logo-div {
    margin-top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: url("../img/owlet-text.png"); }
    #sidebar #owlet-logo-div:hover #owlet-owl, #sidebar #owlet-logo-div:hover #lp-owlet-owl {
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: transform 1s;
      transition-timing-function: ease;
      -webkit-transition: -webkit-transform 0.5s;
      -webkit-transition-timing-function: ease; }
  #sidebar .menu {
    padding-top: 10px;
    overflow: hidden;
    background-color: #6A2569; }
    #sidebar .menu a {
      color: white;
      text-decoration: none; }
    #sidebar .menu .branch-icon {
      margin-top: 10px;
      width: 80px;
      height: 80px;
      background: url("../img/icon1.png");
      background-size: 100%; }
      #sidebar .menu .branch-icon:hover {
        background: url("../img/icon1-nudge.gif");
        background-size: 100%; }
    #sidebar .menu .rc-popover-anchor-wrapper {
      position: absolute;
      left: 0; }
    #sidebar .menu .rc-popover-point {
      opacity: 0.75; }

#sidebar-wrap {
  background-color: #6A2569; }

.lpsidebar {
  position: fixed;
  z-index: 3;
  transition: all 0.3s;
  text-align: center;
  background-color: #6A2569;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden; }
  .lpsidebar a {
    margin-left: auto;
    margin-right: auto; }
  .lpsidebar #owlet-logo-div {
    margin-top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: url("../img/owlet-text.png"); }
    .lpsidebar #owlet-logo-div:hover #owlet-owl, .lpsidebar #owlet-logo-div:hover #lp-owlet-owl {
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      transition: transform 1s;
      transition-timing-function: ease;
      -webkit-transition: -webkit-transform 0.5s;
      -webkit-transition-timing-function: ease; }
  .lpsidebar .menu {
    padding-top: 10px;
    overflow: hidden;
    background-color: #6A2569; }
    .lpsidebar .menu a {
      color: #cffffd;
      text-decoration: none; }
    .lpsidebar .menu img {
      margin-top: 10px;
      width: 80px; }

.lpsidebar-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 3; }

.lpsidebar-toggle {
  z-index: 3;
  cursor: pointer;
  border-left: 1px solid #6A2569;
  transition: all 0.3s;
  position: fixed;
  top: 2px;
  height: 86px; }

#lpsidebar-opened {
  left: 80px; }

.opened-sidebar {
  cursor: pointer;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: 3;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s; }

mark {
  color: white;
  background-color: black; }

mark.white {
  background-color: white;
  color: black;
  padding: .1em .3em; }

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); }

.text-shadow {
  text-shadow: 1px 2px 3px #000000; }

.flexcontainer-wrap {
  margin-top: 0.6em;
  font-size: 2rem;
  font-weight: 500;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center; }

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  background: -webkit-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: -o-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: -moz-linear-gradient(to bottom, #1a0f2e, #493b68);
  background: linear-gradient(to bottom, #1a0f2e, #493b68); }

.flex-item {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  flex-basis: 100%; }

.column-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%; }

.column-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%; }

.not-found {
  margin-left: 40px; }
  .not-found h2 {
    font-size: 2.4rem;
    margin: 1.2em 0; }

.welcome-text {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
  color: white;
  width: 80%; }

.user-type {
  margin-top: 28vh;
  z-index: 1;
  text-align: center; }

#largetext {
  color: white;
  font-size: 5vw;
  margin: 0; }

#smalltext {
  font-size: 20px;
  color: white; }

.btn-branches {
  background-color: #00A79D;
  color: white;
  margin-bottom: 1em; }
  .btn-branches:hover {
    opacity: 0.75; }

@media (max-width: 1000px) {
  .flex-item {
    display: none; }
  .column-left {
    display: none; }
  .column-right {
    width: 100%; }
  .user-type {
    margin-top: 35vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; }
  #largetext {
    font-size: 10vw; }
  #smalltext {
    font-size: 4vw; }
  .landing {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url("../img/landing.png");
    background-size: auto 100%;
    background-position: center; } }

#top {
  background-color: #1a0f2e; }

#bottom {
  background-color: #493b68; }

/* main content */
#main {
  display: flex;
  overflow-y: visible; }

.content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding-top: 50px; }

.outer-height-wrap {
  height: 100vh;
  width: 100%; }

.inner-height-wrap {
  height: 100%;
  width: 100%; }

@media (min-width: 992px) {
  #main {
    height: 100vh; } }

/* branches view */
.branchwrapper.col-xs-12.col-sm-6.col-lg-4 {
  padding-right: inherit;
  padding-left: inherit; }

.branches {
  margin: 2.5em 1.5em 2em 1.5em; }
  .branches a {
    display: block;
    height: 100%;
    padding: 25px 15px; }
  .branches .branchwrap {
    border-radius: 7px;
    margin: 15px 0;
    height: 117px;
    background-size: 100%;
    background-position: center;
    transition: background-size 1s ease;
    -moz-transition: background-size 1s ease;
    -ms-transition: background-size 1s ease;
    -webkit-transition: background-size 1s ease;
    -o-transition: background-size 1s ease; }
    .branches .branchwrap:hover {
      background-size: 125% !important; }
    .branches .branchwrap .branch-bg {
      border-radius: 7px;
      height: 100%;
      background-size: 225% 100%;
      background-repeat: no-repeat;
      background-position: bottom left; }
      .branches .branchwrap .branch-bg:hover {
        background-color: transparent !important;
        background-position: bottom right !important; }
    .branches .branchwrap h2 {
      font-weight: 300;
      font-size: 1.3em;
      line-height: 1.4em; }
    .branches .branchwrap .branch {
      color: #cffffd;
      text-decoration: none; }
  .branches #title {
    font-size: 1.6em;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 0.5em; }

.counter {
  position: absolute;
  right: 25px;
  bottom: 25px;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%; }
  .counter p {
    color: white;
    margin-bottom: 0px;
    position: relative;
    top: 10px;
    text-align: center; }

/* branch activities view */
.container-fluid {
  padding: 0; }

.branch-activities-wrap .flexcontainer-wrap {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.platform-description {
  padding: 0.5em;
  background-color: #0c171b;
  color: #C8C8C8;
  margin: 2px 15px 30px 15px;
  font-size: 1.1em; }
  .platform-description a:hover {
    color: cornflowerblue; }
  .platform-description p {
    margin-bottom: 0; }

.branch-activities-wrap {
  margin: 15px 20px 0 25px; }
  .branch-activities-wrap h2 {
    font-size: 2.4rem;
    margin: 1.2em 0 0 0; }
  .branch-activities-wrap h3 {
    font-size: 1.9rem;
    margin-bottom: 1em; }
  @media (max-width: 500px) {
    .branch-activities-wrap .col-xs-12.col-md-6.col-lg-4 {
      padding: 0; } }

.no-activities {
  margin-left: 21px; }

img.back {
  width: 35px;
  padding-bottom: .1em;
  margin-right: 12px; }
  img.back:hover {
    opacity: 0.75; }

.tag {
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 5px;
  padding: 7px 7px 6px 7px;
  font-weight: normal;
  font-size: 12px;
  background-color: #564B82; }
  .tag:hover {
    background-color: #483C6C; }

.platform {
  font-size: 1em;
  padding: 5px 6px;
  color: white;
  background-color: #AAAAAA; }
  .platform:hover {
    opacity: 0.75; }

.rc-popover-anchor-wrapper {
  margin-bottom: 15px; }

.rc-popover-wrapper, .rc-popover-point {
  min-height: 0;
  height: 0; }

.activity-thumbnail-wrap {
  border-radius: 7px;
  font-size: 0.9em;
  background-color: white;
  padding: 10px 10px 9px 10px;
  margin-bottom: 1.5em;
  overflow-y: auto; }
  @media (max-width: 1187px) {
    .activity-thumbnail-wrap {
      font-size: 0.8em; } }
  .activity-thumbnail-wrap .activity-thumbnail {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size 0.5s ease;
    -moz-transition: background-size 0.5s ease;
    -ms-transition: background-size 0.5s ease;
    -webkit-transition: background-size 0.5s ease;
    -o-transition: background-size 0.5s ease;
    height: 250px; }
    .activity-thumbnail-wrap .activity-thumbnail:hover {
      background-size: 130% !important; }
    @media only screen and (max-width: 767px) and (min-width: 650px) {
      .activity-thumbnail-wrap .activity-thumbnail {
        height: 400px; } }
    .activity-thumbnail-wrap .activity-thumbnail .title {
      position: absolute;
      bottom: 0;
      left: 0;
      text-transform: uppercase;
      font-size: 1.1em; }
  .activity-thumbnail-wrap .summary {
    margin-top: 10px;
    font-size: 0.9em; }
  .activity-thumbnail-wrap .platform-wrap {
    margin-top: 5px;
    font-size: 0.6em;
    text-align: right; }
  .activity-thumbnail-wrap .platform {
    margin: 3px 0 0 0;
    padding: 5px 6px 4px 6px;
    font-size: 1.1em; }
    .activity-thumbnail-wrap .platform p {
      margin: 0; }
  .activity-thumbnail-wrap .tag {
    margin: 10px 10px 0px 0px;
    font-size: 0.55em; }

/* activity view */
.activity-wrap {
  width: 98%;
  margin: 0 auto;
  background-color: transparent;
  height: 100vh;
  font-size: 0.85em; }
  .activity-wrap b {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em; }
  .activity-wrap .list-title p {
    margin-bottom: 0; }

.activity-header {
  margin: 10px 0; }

.activity-content, .activity-header {
  word-wrap: break-word;
  padding: 0 0 0 23px; }

.activity-content {
  font-size: 1.2em; }

.activity-title-wrap {
  margin-top: 18px;
  margin-bottom: 15px; }
  .activity-title-wrap h1 {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 5px; }
  .activity-title-wrap .author {
    color: #ADADAD; }

.activity-info-wrap, .activity-inspiration-wrap, .activity-challenge-wrap {
  background-color: white;
  padding: 10px 12px 2px 15px; }

.activity-challenge-wrap {
  margin: 2em 0;
  width: 100%; }
  .activity-challenge-wrap img {
    max-width: 100%; }

.activity-inspiration-wrap {
  margin: 2em 0; }

.activity-embed-wrap {
  margin-bottom: 30px; }

.activity-skills-wrap {
  padding: 5px;
  background-color: #0c171b;
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  .activity-skills-wrap .skills {
    padding: 2px 5px 0 12px;
    letter-spacing: 2px;
    font-weight: 400; }

.activity-gallery-wrap {
  margin-bottom: 2em; }

.activity-comments-wrap {
  background: #0C171B;
  padding: 10px;
  margin-bottom: 2em; }

.img-gallery {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.img-gallery img {
  height: 100%;
  width: auto; }

.img-gallery figure {
  display: block;
  float: left;
  margin: 0.66%;
  height: 205px; }
  @media (max-width: 1200px) {
    .img-gallery figure {
      height: 140px; } }
  @media (max-width: 642px) {
    .img-gallery figure {
      height: 89px; } }
  @media (max-width: 375px) {
    .img-gallery figure {
      height: 76px; } }

/* buttons and inputs */
#change-header-btn {
  top: 110px;
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0.6;
  transition: all 0.2s; }
  #change-header-btn:hover {
    opacity: 1; }

button {
  font-size: 1rem; }

.login {
  margin-top: 10px;
  z-index: 1;
  text-align: center; }

.login-landing {
  position: absolute;
  top: 13px;
  right: 10px; }

.btn-login {
  color: #fff;
  background-color: #65D2C0;
  border-color: #65D2C0; }
  .btn-login:hover {
    color: #5EFFE4;
    background-color: transparent; }

.btn-logout {
  color: #5EFFE4;
  background-color: transparent;
  border-color: #65D2C0; }
  .btn-logout:hover {
    color: #fff;
    background-color: #65D2C0; }

input[type="radio"] {
  display: none; }

label {
  background-color: white;
  color: #00A79D;
  padding: 10px;
  width: 30%;
  text-align: center; }

input[type="radio"]:checked + label {
  background-color: #00A79D;
  color: white; }

#email-wrap {
  transition: height 0.3s;
  width: 281px;
  padding: 10px;
  color: #C8C8C8;
  border-radius: 7px 0;
  background: #0c171b;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2; }

#email-wrap > * {
  vertical-align: middle; }

#email-text-closed, #email-text-opened {
  cursor: pointer; }

#email-text-opened {
  margin-bottom: 10px; }

#email-text-closed {
  margin-bottom: 0; }

#email-input {
  height: 24px;
  width: 152px;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #C8C8C8;
  outline: 0; }
  #email-input:active {
    outline: 0; }

#email-button {
  width: 65px;
  height: 24px;
  margin-left: 44px;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: #C8C8C8;
  font-size: 0.9em;
  background-color: #6A2569;
  outline: 0; }
  #email-button:active {
    outline: 0; }

.email-unsubscribe {
  padding: 10px;
  margin: 30px 0;
  background-color: #0c171b;
  width: 400px; }
  .email-unsubscribe #email-button {
    position: inherit;
    margin-left: 90px; }

.refresh {
  animation: refresh 1s 1;
  margin-bottom: 10px; }

@keyframes refresh {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* no gutters! */
.no-gutter {
  margin-left: 0;
  margin-right: 0; }

.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0; }

.embed-container {
  position: relative;
  padding-bottom: 72.9167%;
  height: 0;
  overflow: hidden; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Animation */
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Variables */
/* Loading Icon */
.loading {
  width: 100px;
  height: 100px; }

.loading__ring {
  position: absolute;
  width: 100px;
  height: 100px; }

.loading__ring:first-child {
  -webkit-transform: skew(30deg, 20deg);
  transform: skew(30deg, 20deg); }

.loading__ring:last-child {
  -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
  transform: skew(-30deg, -20deg) scale(-1, 1); }

.loading__ring:last-child svg {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.loading__ring svg {
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2); }

* {
  min-height: inherit;
  min-width: inherit; }

progress {
  display: inline-block;
  vertical-align: baseline; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }
  to {
    background-position: 0 0; } }

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease; }

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px; }

.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite; }

.progress-bar-success {
  background-color: #5cb85c; }

.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-info {
  background-color: #5bc0de; }

.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-warning {
  background-color: #f0ad4e; }

.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.progress-bar-danger {
  background-color: #d9534f; }

.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.popover-arrow {
  border-style: none; }
