body {
  font: 100% "century gothic", sans-serif;
  color: #0c171b;
  font-size: 1.2rem;
  background-color: #e6e7e8;
}
#sidebar {
  text-align: center;
  background-color: #0c171b;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 180px;
}
@media (max-width: 543px) {
  #sidebar {
    display: none;
  }
}
#lpsidebar {
  text-align: center;
  background-color: #0c171b;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 80px;
}
#lpsidebar a {
  margin-left: auto;
  margin-right: auto;
}
#lpsidebar img {
  margin-top: 30px;
}
#lpsidebar img.owlet {
  margin-top: 0;
}
@media (min-width: 544px) {
  #lpsidebar {
    display: none;
  }
}
img.owlet {
  width: 87%;
}
.menu {
  padding-top: 10px;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  overflow: hidden;
  background-color: #2a2b31;
  border-radius: 10px 10px 0px 0px;
}
.menu a {
  color: #cffffd;
  text-decoration: none;
}
.menu a.nav-link {
  margin: 30px;
}
.menu h1 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 3em;
  font-weight: 100;
}
#header {
  height: 145px;
  overflow: hidden;
}
#header img {
  height: auto;
  width: 100%;
}
#change-header-btn {
  top: 113px;
  position: absolute;
}
/* buttons and inputs */
button {
  font-size: 1rem;
}
.trackwrapper.col-xs-12.col-sm-6.col-lg-4 {
  padding-right: inherit;
  padding-left: inherit;
}
.tracks {
  margin: 1.5em 1.5em 2em 1.5em;
}
.tracks .trackwrap {
  margin: 5px;
  text-align: center;
  background-color: #0c171b;
  border: 2px solid #0c171b;
  border-radius: 10px;
}
.tracks .trackwrap .track {
  color: #cffffd;
  text-decoration: none;
}
.tracks .trackwrap :hover {
  color: #abfffb;
}
.tracks #title {
  margin-left: 1em;
  margin-top: 0.5em;
}
.login {
  position: absolute;
  top: 13px;
  right: 10px;
}
.search {
  padding: 10px;
}
.search input {
  border-radius: 2px;
  margin-left: 10px;
  font-size: 0.9rem;
  border: 1px solid #2a2b31;
  background-color: white;
}
/* main content */
#main {
  display: flex;
}
.content {
  flex-direction: column;
  width: 100%;
}
/* no gutters! */
.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.funfact {
  float: left;
  margin: 3em 2em 2em 2em;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Animation */
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Variables */
/* Loading Icon */
.loading {
  width: 100px;
  height: 100px;
}
.loading__ring {
  position: absolute;
  width: 100px;
  height: 100px;
}
.loading__ring:first-child {
  -webkit-transform: skew(30deg, 20deg);
  transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
  -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
  transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.loading__ring svg {
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2);
}
