body {
  font: 100% "century gothic", sans-serif;
  color: #0c171b;
  font-size: 1.2rem;
  background-color: #e6e7e8;
}
#sidebar {
  padding-left: 0;
  text-align: center;
  background-color: #0c171b;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 180px;
}
#lpsidebar {
  padding-left: 0;
  text-align: center;
  background-color: #0c171b;
  color: #cffffd;
  top: 0;
  bottom: 0;
  height: 10%;
  width: 80px;
}
#lpsidebar a {
  margin: auto;
}
#lpsidebar button {
  margin-bottom: 20px;
}
img.owlet {
  width: 87%;
}
.menu {
  padding-top: 10px;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  overflow: hidden;
  background-color: #2a2b31;
  border-radius: 10px 10px 0px 0px;
}
.menu a {
  margin: 30px;
}
.menu h1 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 3em;
  font-weight: 100;
}
#header {
  height: 145px;
  overflow: hidden;
}
#header img {
  height: auto;
  width: 100%;
}
#change-header-btn {
  top: 113px;
  position: absolute;
}
/* buttons and inputs */
button {
  font-size: 1rem;
}
.tracks .trackwrapper {
  text-align: center;
  background-color: #000;
  border: 0.5em solid #e6e7e8;
  border-radius: 0.75em;
}
.tracks .trackwrapper .track {
  color: #cffffd;
  text-decoration: none;
}
.tracks .trackwrapper :hover {
  color: #abfffb;
}
.tracks #title {
  margin-left: 1em;
  margin-top: 0.5em;
}
.login {
  position: absolute;
  top: 13px;
  right: 10px;
}
.search {
  padding: 10px;
}
.search input {
  border-radius: 2px;
  margin-left: 10px;
  font-size: 0.9rem;
  border: 1px solid #2a2b31;
  background-color: white;
}
/* main content */
#main {
  display: flex;
}
.content {
  flex-direction: column;
  width: 100%;
}
/* no gutters! */
.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
